[submodule "OsanchezOdoo/dilox"]
	path = OsanchezOdoo/dilox
	url = git@github.com:OsanchezOdoo/dilox.git
	branch = addenda_oxxo

[submodule "OsanchezOdoo-dilox"]
	path = OsanchezOdoo-dilox
	url = git@github.com:OsanchezOdoo/dilox.git
	branch = addenda-extra

[submodule "addenda-extra"]
	path = addenda-extra
	url = git@github.com:OsanchezOdoo/dilox.git
	branch = Facturación
